<nz-card nzTitle="Danh sách quyền">
  <nz-table
    #basicTable
    [nzVirtualItemSize]="54"
    [nzData]="records"
    [nzScroll]="{ x: '1024px', y: '100vh' }"
    [nzShowPagination]="false"
    nzBordered
  >
    <thead>
    <tr>
      <th
        *ngFor="let col of cols"
        [nzWidth]="col.style?.width">
        {{col.header}}
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of basicTable.data">
      <td *ngFor="let col of cols;">
        {{
        col.slot == 'role'
          ? nameRoleEnum[roleEnum[data.name]]
          : data[col?.field]
        }}
      </td>
    </tr>
    </tbody>
  </nz-table>
</nz-card>
