<nz-card [nzTitle]="record ? 'Cập nhật' : 'Tạo mới'"> <h3>
  Tên khách hàng: <b>{{customer?.full_name}}</b>
</h3>
  <br/>
  <form [formGroup]="saveForm" nz-form>
    <!--staff_id-->
    <nz-form-item>
      <nz-form-label [nzMd]="6" [nzXs]="24">
        Lần chăm sóc
      </nz-form-label>
      <nz-form-control [nzMd]="12" [nzXs]="24">
       {{authService.currentUserValue.full_name}}
      </nz-form-control>
    </nz-form-item>

    <!--description-->
    <nz-form-item>
      <nz-form-label [nzMd]="6" [nzXs]="24" nzFor="customer_id" nzRequired>Mô tả</nz-form-label>
      <nz-form-control [nzMd]="12" [nzXs]="24">
        <textarea rows="4" nz-input formControlName="description" id="description"></textarea>
        <app-control-errors
          fieldName="description"
        ></app-control-errors>
      </nz-form-control>
    </nz-form-item>


    <nz-form-item class="create-area" nz-row>
      <nz-form-control [nzOffset]="6" [nzSpan]="14">
        <button [routerLink]="['/care', customer.id]" nz-button>Quay lại</button>
        <button
          nz-button
          (click)="confirmUpdate()"
          [disabled]="!saveForm.valid"
          nzType="primary">
          {{record ? 'Cập nhật' : 'Tạo mới'}}
        </button>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-card>
