<!--Filter-->
<nz-card nzTitle="Tìm kiếm" [nzExtra]="extraTemplate" style="margin-bottom: 15px">
  <form nz-form nzLayout="vertical" [formGroup]="filterForm">
    <!--CONTROLS-->
    <div nz-row [nzGutter]="24">
      <div nz-col [nzMd]="12" [nzXs]="24">
        <nz-form-item>
          <nz-form-label [nzFor]="'login_id'">Login ID</nz-form-label>
          <nz-form-control>
            <input
              nz-input
              formControlName="login_id"
            />
          </nz-form-control>
        </nz-form-item>
      </div>
      <!--Search email-->
      <div nz-col [nzMd]="12" [nzXs]="24">
        <nz-form-item>
          <nz-form-label [nzFor]="'email'">Email</nz-form-label>
          <nz-form-control>
            <input
              nz-input
              formControlName="email"
            />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div nz-row [nzGutter]="24">
      <div nz-col [nzMd]="12" [nzXs]="24">
        <nz-form-item>
          <nz-form-label [nzFor]="'full_name'">Tên</nz-form-label>
          <nz-form-control>
            <input
              nz-input
              formControlName="full_name"
            />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div nz-row>
      <div nz-col [nzSpan]="24" class="search-area">
        <button nz-button (click)="onSearch(true)">Xóa tìm kiếm</button>
        <button nz-button [nzType]="'primary'" (click)="onSearch()">Tìm kiếm</button>
      </div>
    </div>
  </form>
</nz-card>

<nz-card>
  <nz-table
    #basicTable
    [nzVirtualItemSize]="54"
    [nzData]="records"
    [nzPaginationPosition]="'both'"
    [nzScroll]="{ x: '1024px', y: '100vh' }"
    [nzFrontPagination]="false"
    [nzTotal]="pagination.total"
    [nzPageSize]="pagination.perPage"
    [nzPageIndex]="pagination.currentPage"
    (nzQueryParams)="onQueryParamsChange($event)"
    nzBordered
  >
    <thead>
    <tr>
      <th
        *ngFor="let col of cols"
        [nzWidth]="col.style?.width">
        {{col.header}}
      </th>
      <th [nzWidth]="'150px'" nzRight></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of basicTable.data">
      <td *ngFor="let col of cols;">
        {{
        col.slot == 'role'
          ? [roleEnum[data.role[0].name]]
          : data[col?.field]
        }}
      </td>
      <td style="text-align: center" nzRight>
        <ng-container *ngIf="!(data.id == 1 || authService.currentUserValue.id == data.id)">
          <button nz-button
                  *ngxPermissionsOnly="['admin', 'human-resource', 'sales-manager']"
                  nzType="primary" nzShape="circle"
                  style="margin-right: 5px"
                  [routerLink]="['update', data.id]"
                  nz-tooltip
                  nzTooltipPlacement="top"
                  [nzTooltipTitle]="'Sửa'"
          >
            <i nz-icon nzType="edit" nzTheme="outline"></i>
          </button>
          <ng-container *ngIf="data.is_active">
            <button nz-button nzShape="circle"
                    *ngxPermissionsOnly="['admin', 'human-resource', 'sales-manager']"
                    nzDanger
                    (click)="confirmDelete(data.id)"
                    nz-tooltip
                    nzTooltipPlacement="top"
                    [nzTooltipTitle]="'Xóa'"
            >
              <i nz-icon nzType="delete"></i>
            </button>
          </ng-container>
        </ng-container>
      </td>
    </tr>
    </tbody>
  </nz-table>
</nz-card>

<ng-template #extraTemplate>
  <!--Button Create-->
  <button
    nz-button
    nzType="primary"
    class="btn-create"
    [routerLink]="['/staff', 'create']"
    *ngxPermissionsOnly="['admin', 'human-resource', 'sales-manager']"
  >
    <i nz-icon nzType="plus" nzTheme="outline"></i>
    Tạo mới
  </button>
</ng-template>
