<!--Filter-->
<nz-card nzTitle="Danh sách nhân viên" [nzExtra]="extraTemplate" style="margin-bottom: 15px"
         (keydown.enter)="$event.preventDefault()">
  <form nz-form nzLayout="vertical" [formGroup]="filterForm">
    <!--CONTROLS-->
    <div nz-row [nzGutter]="24">
      <div nz-col [nzMd]="12" [nzXs]="24">
        <nz-form-item>
          <nz-form-label [nzFor]="'search'">Tìm kiếm</nz-form-label>
          <nz-form-control>
            <input
              nz-input
              formControlName="search"
              (keyup.enter)="onSearch()"
            />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div nz-row>
      <div nz-col [nzSpan]="24" class="search-area">
        <button nz-button (click)="onSearch(true)">Xóa tìm kiếm</button>
        <button nz-button [nzType]="'primary'" (click)="onSearch()">Tìm kiếm</button>
      </div>
    </div>
  </form>
</nz-card>

<nz-card>
  <nz-table
    #basicTable
    [nzVirtualItemSize]="54"
    [nzData]="records"
    [nzPaginationPosition]="'both'"
    [nzScroll]="{ x: '1024px', y: '100vh' }"
    [nzFrontPagination]="false"
    [nzTotal]="pagination.total"
    [nzPageSize]="pagination.perPage"
    [nzPageIndex]="pagination.currentPage"
    (nzQueryParams)="onQueryParamsChange($event)"
    nzBordered
  >
    <thead>
    <tr>
      <th
        *ngFor="let col of cols"
        [nzWidth]="col.style?.width">
        {{col.header}}
      </th>
      <th [nzWidth]="'150px'" nzRight></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of basicTable.data"
        [ngClass]="{'cursor-point' : isAdmin}"
        (click)="(isAdmin ? getDataCustomer(data.id) : $event.preventDefault()); $event.stopPropagation()">
      <td *ngFor="let col of cols;">
        {{
        col.slot == 'role'
          ? [roleEnum[data.role[0].name]]
          : data[col?.field] | valueColumn: col?.field_child
        }}
        <p class="cl-red" *ngIf="col.field === 'login_id' && !data.is_active">( Đã xóa )</p>
      </td>
      <td style="text-align: center" nzRight>
        <ng-container *ngIf="!(data.id == 1 || authService.currentUserValue.id == data.id)">
          <button nz-button
                  *ngxPermissionsOnly="ROLE_CONFIG.get('staff')"
                  nzType="primary" nzShape="circle"
                  style="margin-right: 5px"
                  [routerLink]="['update', data.id]"
                  (click)="$event.stopPropagation()"
                  nz-tooltip
                  nzTooltipPlacement="top"
                  [nzTooltipTitle]="'Sửa'"
          >
            <i nz-icon nzType="edit" nzTheme="outline"></i>
          </button>
          <ng-container *ngIf="data.is_active || isAdminPermissison">
            <button nz-button nzShape="circle"
                    *ngxPermissionsOnly="ROLE_CONFIG.get('staff')"
                    nzDanger
                    (click)="confirmDelete(data.id); $event.stopPropagation()"
                    nz-tooltip
                    nzTooltipPlacement="top"
                    [nzTooltipTitle]="'Xóa'"
            >
              <i nz-icon nzType="delete"></i>
            </button>
          </ng-container>
        </ng-container>
      </td>
    </tr>
    </tbody>
  </nz-table>
</nz-card>

<ng-template #extraTemplate>
  <!--Button Create-->
  <button
    nz-button
    nzType="primary"
    class="btn-create"
    [routerLink]="['/staff', 'create']"
    *ngxPermissionsOnly="ROLE_CONFIG.get('staff')"
  >
    <i nz-icon nzType="plus" nzTheme="outline"></i>
    Tạo mới
  </button>
</ng-template>

<nz-modal [(nzVisible)]="isModalCustomer"
          (nzOnCancel)="handleCancel()"
          [nzFooter]="modalFooter"
          nzCentered
          [nzWidth]="customerList.length ? '80vw' : '50vw'"
          nzTitle="Danh sách khách hàng">
  <ng-container *nzModalContent>
    <p  *ngIf="!customerList.length">Không có thông tin khách hàng</p>
    <nz-table #basicTable
              *ngIf="customerList.length"
              [nzData]="customerList"
              [nzPageSize]="50"
              [nzScroll]="{ x:'1204px', y: '50vh' }"
              [nzShowPagination]="false">
      <thead>
      <tr>
        <th
          *ngFor="let col of colsCustomer"
          [nzWidth]="col.style?.width"
        >
          {{col.header}}
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td *ngFor="let col of colsCustomer;">
          <ng-container [ngSwitch]="col.field">
            <p *ngSwitchCase="'assign_for_user'">
              {{data[col?.field]['full_name']}} - {{data[col?.field]['login_id']}}
            </p>
            <p *ngSwitchCase="'customer_project'">
              {{data[col?.field] ? data[col?.field]['name'] : ''}}
            </p>
            <p *ngSwitchDefault>
              {{ data[col?.field] || ''}}
            </p>
          </ng-container>
        </td>
      </tr>
      </tbody>
    </nz-table>
  </ng-container>
  <ng-template #modalFooter>
    <button nz-button nzType="default" (click)="handleCancel()">Cancel</button>
  </ng-template>
</nz-modal>
