<nz-card nzTitle="Thông tin cá nhân">
  <form [formGroup]="saveForm" nz-form>
    <!--phone_number-->
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="login_id">Login ID</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        {{record.login_id}}
      </nz-form-control>
    </nz-form-item>

    <!--full_name-->
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="full_name">Tên</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <input nz-input formControlName="full_name" id="full_name"/>
        <app-control-errors
          fieldName="full_name"
        ></app-control-errors>
      </nz-form-control>
    </nz-form-item>

    <!--email-->
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="email" nzRequired>Email</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <input nz-input formControlName="email" id="email"/>
        <app-control-errors
          fieldName="email"
        ></app-control-errors>
      </nz-form-control>
    </nz-form-item>

    <!--password-->
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="password">Mật khẩu</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <nz-input-group [nzSuffix]="suffixTemplate">
          <input
            [type]="passwordVisible ? 'text' : 'password'"
            nz-input
            formControlName="password"
            id="password"
          />
        </nz-input-group>
        <ng-template #suffixTemplate>
          <span
            nz-icon
            [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
            (click)="passwordVisible = !passwordVisible"
          ></span>
        </ng-template>
        <app-control-errors
          fieldName="password"
        ></app-control-errors>
      </nz-form-control>
    </nz-form-item>

    <!--confirm password-->
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="password_confirmation">Xác nhận mật khẩu</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <nz-input-group [nzSuffix]="suffixTemplateConfirm">
          <input
            [type]="passwordVisibleConfirm ? 'text' : 'password'"
            nz-input
            formControlName="password_confirmation"
            id="password_confirmation"
          />
        </nz-input-group>
        <ng-template #suffixTemplateConfirm>
          <span
            nz-icon
            [nzType]="passwordVisibleConfirm ? 'eye-invisible' : 'eye'"
            (click)="passwordVisibleConfirm = !passwordVisibleConfirm"
          ></span>
        </ng-template>
        <app-control-errors
          fieldName="password_confirmation"
        ></app-control-errors>
      </nz-form-control>
    </nz-form-item>

    <!--Role-->
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="role_id">Quyền</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        {{record.role[0].name}}
      </nz-form-control>
    </nz-form-item>


    <nz-form-item nz-row class="create-area">
      <nz-form-control [nzSpan]="14" [nzOffset]="6">
        <button nz-button nzType="primary"
                (click)="validationForm()">
          Cập nhật
        </button>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-card>
