<form [formGroup]="saveForm" nz-form>
  <!--phone_number-->
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="login_id">Login ID</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <input nz-input formControlName="login_id" id="login_id"/>
      <app-control-errors
        fieldName="login_id"
      ></app-control-errors>
    </nz-form-control>
  </nz-form-item>

  <!--full_name-->
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="full_name">Tên</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <input nz-input formControlName="full_name" id="full_name"/>
      <app-control-errors
        fieldName="full_name"
      ></app-control-errors>
    </nz-form-control>
  </nz-form-item>

  <!--email-->
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="email" nzRequired>Email</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <input nz-input formControlName="email" id="email"/>
      <app-control-errors
        fieldName="email"
      ></app-control-errors>
    </nz-form-control>
  </nz-form-item>

  <!--password-->
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="password" [nzRequired] = !record>Password</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <input nz-input formControlName="password" id="password"/>
      <app-control-errors
        fieldName="password"
      ></app-control-errors>
    </nz-form-control>
  </nz-form-item>

  <!--confirm password-->
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="password_confirmation" [nzRequired] = !record>Password Confirmation</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <input nz-input formControlName="password_confirmation" id="password_confirmation"/>
      <app-control-errors
        fieldName="password_confirmation"
      ></app-control-errors>
    </nz-form-control>
  </nz-form-item>

  <!--Role-->
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="role_id" nzRequired>Role</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <nz-select
        nzPlaceHolder="Please select"
        formControlName="role_id"
      >
        <nz-option *ngFor="let item of roles" [nzLabel]="$any(item?.name)" [nzValue]="$any(item?.id)"></nz-option>
      </nz-select>
      <app-control-errors
        fieldName="role_id"
      ></app-control-errors>
    </nz-form-control>
  </nz-form-item>


  <nz-form-item nz-row class="create-area">
    <nz-form-control [nzSpan]="14" [nzOffset]="6">
      <button nz-button [routerLink]="['', 'users']">Quay lại</button>
      <button nz-button nzType="primary"
              (click)="validationForm()"
              [disabled]="!saveForm.valid">
        {{record ? 'Cập nhật' : 'Tạo mới'}}
      </button>
    </nz-form-control>
  </nz-form-item>
</form>
