<!--Filter-->
<nz-card nzTitle="Tìm kiếm" style="margin-bottom: 15px" [nzExtra]="extraTemplate">
  <form nz-form nzLayout="vertical" [formGroup]="filterForm">
    <div nz-row [nzGutter]="24">
      <div nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label [nzFor]="'name'">Tên</nz-form-label>
          <nz-form-control>
            <input
              nz-input
              formControlName="name"
            />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div nz-row>
      <div nz-col [nzSpan]="24" class="search-area">
        <button nz-button (click)="onSearch(true)">Xóa tìm kiếm</button>
        <button nz-button [nzType]="'primary'" (click)="onSearch()">Tìm kiếm</button>
      </div>
    </div>
  </form>
</nz-card>

<nz-card>
  <nz-table
    #basicTable
    [nzVirtualItemSize]="54"
    [nzData]="records"
    [nzPaginationPosition]="'both'"
    [nzScroll]="{ x: '1024px', y: '100vh' }"
    [nzFrontPagination]="false"
    [nzTotal]="pagination.total"
    [nzPageSize]="pagination.perPage"
    [nzPageIndex]="pagination.currentPage"
    (nzQueryParams)="onQueryParamsChange($event)"
    nzBordered
  >
    <thead>
    <tr>
      <th
        *ngFor="let col of cols"
        [nzWidth]="col.style?.width">
        {{col.header}}
      </th>
      <th [nzWidth]="'150px'" nzRight></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of basicTable.data">
      <td *ngFor="let col of cols;">
        {{ data[col?.field] }}
      </td>
      <td style="text-align: center" nzRight>
        <button nz-button
                nzType="primary" nzShape="circle"
                style="margin-right: 5px"
                [routerLink]="['update', data.id]"
        >
          <i nz-icon nzType="edit" nzTheme="outline"></i>
        </button>
        <button nz-button nzShape="circle" nzDanger
                (click)="confirmDelete(data.id)"
        >
          <i nz-icon nzType="delete"></i>
        </button>
      </td>
    </tr>
    </tbody>
  </nz-table>

</nz-card>

<ng-template #extraTemplate>
  <!--Button Create-->
  <button
    nz-button
    nzType="primary"
    class="btn-create"
    [routerLink]="['/teams', 'create']"
  >
    <i nz-icon nzType="plus" nzTheme="outline"></i>
    Tạo mới
  </button>
</ng-template>
