<nz-card [nzTitle]="record ? 'Cập nhật' : 'Tạo mới'">
  <form [formGroup]="saveForm" nz-form>
    <!--full_name-->
    <nz-form-item>
      <nz-form-label [nzMd]="6" [nzXs]="24" nzRequired nzFor="full_name">Tên khách hàng</nz-form-label>
      <nz-form-control [nzMd]="12" [nzXs]="24">
        <input nz-input formControlName="full_name" id="full_name"/>
        <app-control-errors
          fieldName="full_name"
        ></app-control-errors>
      </nz-form-control>
    </nz-form-item>

    <!--phone_number-->
    <nz-form-item>
      <nz-form-label [nzMd]="6" [nzXs]="24" nzRequired nzFor="phone_number">Số điện thoại</nz-form-label>
      <nz-form-control [nzMd]="12" [nzXs]="24">
        <input nz-input formControlName="phone_number" id="phone_number"/>
        <app-control-errors
          fieldName="phone_number"
        ></app-control-errors>
      </nz-form-control>
    </nz-form-item>

    <!--address-->
    <nz-form-item>
      <nz-form-label [nzMd]="6" [nzXs]="24" nzRequired nzFor="address">Địa chỉ</nz-form-label>
      <nz-form-control [nzMd]="12" [nzXs]="24">
        <input nz-input formControlName="address" id="address"/>
        <app-control-errors
          fieldName="address"
        ></app-control-errors>
      </nz-form-control>
    </nz-form-item>

    <!--email-->
    <nz-form-item>
      <nz-form-label [nzMd]="6" [nzXs]="24" nzRequired nzFor="email">Email</nz-form-label>
      <nz-form-control [nzMd]="12" [nzXs]="24">
        <input nz-input formControlName="email" id="email"/>
        <app-control-errors
          fieldName="email"
        ></app-control-errors>
      </nz-form-control>
    </nz-form-item>

    <!--staff-->
    <nz-form-item>
      <nz-form-label [nzMd]="6" [nzXs]="24" nzFor="assign_for_user_id" nzRequired>Chỉ định nhân viên</nz-form-label>
      <nz-form-control [nzMd]="12" [nzXs]="24">
        <nz-select
          nzPlaceHolder="Vui lòng chọn"
          formControlName="assign_for_user_id"
          nzAllowClear
          [nzDisabled]="record && ['sales', 'agency', 'cooperator'].includes(authService.currentUserValue.role[0].name)"
        >
          <nz-option *ngFor="let item of users"
                     [nzLabel]="item.full_name"
                     [nzValue]="item.id"></nz-option>
        </nz-select>
        <app-control-errors
          fieldName="assign_for_user_id"
        ></app-control-errors>
      </nz-form-control>
    </nz-form-item>

    <!--project_note-->
    <nz-form-item>
      <nz-form-label [nzMd]="6" [nzXs]="24" nzFor="project_note">Ghi chú dự án</nz-form-label>
      <nz-form-control [nzMd]="12" [nzXs]="24">
        <textarea rows="4" nz-input formControlName="project_note" id="project_note"></textarea>
        <app-control-errors
          fieldName="project_note"
        ></app-control-errors>
      </nz-form-control>
    </nz-form-item>

    <!--note-->
    <nz-form-item>
      <nz-form-label [nzMd]="6" [nzXs]="24" nzFor="note">Ghi chú</nz-form-label>
      <nz-form-control [nzMd]="12" [nzXs]="24">
        <textarea rows="4" nz-input formControlName="note" id="note"></textarea>
        <app-control-errors
          fieldName="note"
        ></app-control-errors>
      </nz-form-control>
    </nz-form-item>

    <!--result-->
    <nz-form-item>
      <nz-form-label [nzMd]="6" [nzXs]="24" nzFor="result">Kết quả</nz-form-label>
      <nz-form-control [nzMd]="12" [nzXs]="24">
        <nz-radio-group formControlName="result">
          <label nz-radio
                 *ngFor="let result of optionResultField"
                 [nzValue]="result">
            {{resultEnum[result]}}
          </label>
        </nz-radio-group>
        <app-control-errors
          fieldName="result"
        ></app-control-errors>
      </nz-form-control>
    </nz-form-item>

    <!--customer_project-->
    <nz-form-item>
      <nz-form-label [nzMd]="6" [nzXs]="24" nzFor="customer_project">Dự án khách hàng</nz-form-label>
      <nz-form-control [nzMd]="12" [nzXs]="24">
        <nz-select
          nzMode="multiple"
          nzPlaceHolder="Vui lòng chọn"
          formControlName="customer_project"
        >
          <nz-option *ngFor="let item of projects"
                     [nzLabel]="item.name"
                     [nzValue]="item.name"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item nz-row class="create-area">
      <nz-form-control [nzSpan]="14" [nzOffset]="6">
        <button nz-button [routerLink]="['', 'customers']">Quay lại</button>
        <button nz-button nzType="primary"
                [nzLoading]="isLoading"
                (click)="confirmUpdate()">
          {{record ? 'Cập nhật' : 'Tạo mới'}}
        </button>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-card>
