button {
  margin-left: 8px;
}

::ng-deep .create-area .ant-form-item-control-input {
  margin: 0 0 0 auto;
}

::ng-deep [nz-radio] {
  display: block;
  height: 32px;
  line-height: 32px;
}

.create-area {
  text-align: right;
}

nz-date-picker {
  width: 100%;
}
