<nz-layout>
  <div [ngStyle]="{backgroundImage: 'url(assets/images/background.svg)'}" class="login-form-wrapper">
    <div class="login-card">
      <nz-spin [nzSpinning]="false">
        <!-- [nzTitle]="'AUTH.LOGIN' | translate"-->
        <nz-card [ngStyle]="{width: '400px'}">
          <!-- Login Form -->
          <form (ngSubmit)="login()" [formGroup]="validateForm" class="login-form" nz-form>
            <!-- Username -->
            <nz-form-item>
              <nz-form-control>
                <nz-input-group nzPrefixIcon="user">
                  <input formControlName="userName" nz-input placeholder="username" type="text"/>
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>

            <!-- Password -->
            <nz-form-item>
              <nz-form-control>
                <nz-input-group [nzSuffix]="suffixTemplate" nzPrefixIcon="lock">
                  <input [type]="passwordVisible ? 'text' : 'password'"
                         formControlName="password"
                         nz-input
                         placeholder="password"/>
                </nz-input-group>
                <ng-template #suffixTemplate>
                  <span
                    (click)="passwordVisible = !passwordVisible"
                    [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
                    nz-icon
                  ></span>
                </ng-template>
              </nz-form-control>
            </nz-form-item>

            <!-- Login button -->
            <button [nzType]="'primary'" class="login-form-button login-form-margin"
                    nz-button>Login
            </button>
          </form>
        </nz-card>
      </nz-spin>
    </div>
  </div>
</nz-layout>
<div [hidden]="!isLoading" class="loading-overlay">
  <div class="spinner">
    <nz-spin [nzSize]="'large'" nzSimple></nz-spin>
  </div>
</div>
