.login-form-wrapper {
  min-height: 100vh;

  .login-card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .login-title,
    .login-subtitle {
      text-align: center;
    }

    .login-title {
      margin-bottom: 0;
      font-size: 25px;
    }

    .login-subtitle {
      margin-bottom: 30px;
    }

    .login-form {
      max-width: 400px;
    }

    .login-form-margin {
      margin-bottom: 16px;
    }

    .login-form-forgot {
      float: right;
    }

    .login-form-button {
      width: 100%;
    }
  }
}

