<nz-card [nzTitle]="record ? 'Cập nhật' : 'Tạo mới'">
  <form [formGroup]="saveForm" nz-form autocomplete="off">
    <!--name-->
    <nz-form-item>
      <nz-form-label [nzMd]="6" [nzXs]="24"
                     nzRequired nzFor="name">
        Tên dự án
      </nz-form-label>
      <nz-form-control [nzMd]="12" [nzXs]="24">
        <input nz-input
               *ngIf="!record"
               formControlName="name"
               autocomplete="new-input"
               id="name"/>
        <span *ngIf="record">
          {{record.name}}
          <span class="cl-red" *ngIf="!record.is_active">( Đã xóa )</span>
        </span>
        <app-control-errors
          fieldName="name"
        ></app-control-errors>
      </nz-form-control>
    </nz-form-item>

    <!--type-->
    <nz-form-item>
      <nz-form-label [nzMd]="6" [nzXs]="24" nzRequired nzFor="type">Loại hình</nz-form-label>
      <nz-form-control [nzMd]="12" [nzXs]="24">
        <nz-select
          *ngIf="!record || (record && record.is_active)"
          nzPlaceHolder="Vui lòng chọn"
          formControlName="type"
          nzAllowClear
        >
          <nz-option [nzLabel]="'Đất'" [nzValue]="'SOIL'"></nz-option>
          <nz-option [nzLabel]="'Nhà'" [nzValue]="'HOME'"></nz-option>
        </nz-select>
        <span *ngIf="record && !record.is_active">{{LocalProjectNewEnum[record.type]}}</span>

        <app-control-errors
          fieldName="type"
        ></app-control-errors>
      </nz-form-control>
    </nz-form-item>

    <!--price-->
    <nz-form-item>
      <nz-form-label [nzMd]="6" [nzXs]="24" nzFor="price" nzRequired>Tiền</nz-form-label>
      <nz-form-control [nzMd]="12" [nzXs]="24">
        <input *ngIf="!record || (record && record.is_active)" nz-input
               formControlName="price" id="price"
               mask="separator.0"
               [specialCharacters]="[ '[' ,']' , ' ' ]"
               thousandSeparator="."
               type="text"/>
        <span *ngIf="record && !record.is_active">{{record.price}}</span>

        <app-control-errors
          fieldName="price"
        ></app-control-errors>
      </nz-form-control>
    </nz-form-item>

    <!--local-->
    <nz-form-item>
      <nz-form-label [nzMd]="6" [nzXs]="24" nzFor="local" nzRequired>Vị trí</nz-form-label>
      <nz-form-control [nzMd]="12" [nzXs]="24">
        <input *ngIf="!record || (record && record.is_active)" nz-input formControlName="local" id="local"/>
        <span *ngIf="record && !record.is_active">{{record.local}}</span>

        <app-control-errors
          fieldName="local"
        ></app-control-errors>
      </nz-form-control>
    </nz-form-item>

    <!--Hoa hồng -->
    <nz-form-item>
      <nz-form-label [nzMd]="6" [nzXs]="24" nzFor="bonus">Hoa hồng Sale</nz-form-label>
      <nz-form-control [nzMd]="12" [nzXs]="24">
        <input nz-input formControlName="bonus" id="bonus"
               mask="separator.0"
               [specialCharacters]="[ '[' ,']' , ' ' ]"
               thousandSeparator="."
               type="text"
        />
      </nz-form-control>
    </nz-form-item>

    <!--Tình trạng-->
    <nz-form-item>
      <nz-form-label [nzMd]="6" [nzXs]="24" nzFor="status">Tình trạng</nz-form-label>
      <nz-form-control [nzMd]="12" [nzXs]="24">

        <nz-select
          nzPlaceHolder="Vui lòng chọn"
          formControlName="status"
          nzAllowClear
        >
          <nz-option [nzLabel]="'Đang giao dịch'" [nzValue]="'Đang giao dịch'"></nz-option>
          <nz-option [nzLabel]="'Chưa giao dịch'" [nzValue]="'Chưa giao dịch'"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>

    <!--description-->
    <nz-form-item>
      <nz-form-label [nzMd]="6" [nzXs]="24" nzFor="description">Ghi chú</nz-form-label>
      <nz-form-control [nzMd]="12" [nzXs]="24">
        <textarea rows="4" nz-input formControlName="description" id="description"></textarea>
        <app-control-errors
          fieldName="description"
        ></app-control-errors>
      </nz-form-control>
    </nz-form-item>

    <div nz-row>
      <div nz-col [nzSpan]="24" class="create-area">
        <button nz-button [routerLink]="['', 'project-new']">Quay lại</button>
        <button nz-button nzType="primary"
                *ngIf="!record || (record && record.is_active)"
                [nzLoading]="isLoading"
                (click)="confirmUpdate()"
                [disabled]="!saveForm.valid">
          {{record ? 'Cập nhật' : 'Tạo mới'}}
        </button>
      </div>
    </div>
  </form>
</nz-card>
