<nz-layout class="app-layout {{isLoading ? 'app-loading' : ''}}">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="240px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
    <div class="logo"></div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <ng-container *ngFor="let nav of navigations">
        <li
          nz-menu-item
          [routerLink]="nav?.url"
          nzMatchRouter nzMatchRouterExact
          routerLinkActive="active"
          *ngxPermissionsOnly="nav?.permissions?.only"
        >
          <i nz-icon [nzType]="nav?.icon"></i>
          <span>{{nav?.title}}</span>
        </li>
      </ng-container>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <i class="trigger"
               nz-icon
               [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></i>
        </span>
        <a nz-dropdown [nzDropdownMenu]="menu" [nzPlacement]="'bottomRight'">
            {{authService.currentUserValue.full_name}}
          <i nz-icon nzType="down"></i>
        </a>
        <nz-dropdown-menu #menu="nzDropdownMenu">
          <ul nz-menu nzSelectable>
            <li nz-menu-item nzDanger (click)="logout()">Đăng xuất</li>
          </ul>
        </nz-dropdown-menu>

      </div>
    </nz-header>
    <nz-content>
        <router-outlet></router-outlet>
    </nz-content>
  </nz-layout>
  <div class="loading-overlay" [hidden]="!isLoading">
    <div class="spinner">
      <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
    </div>
  </div>
</nz-layout>
