<!--Filter-->
<nz-card nzTitle="Danh sách khách hàng" [nzExtra]="extraTemplate" style="margin-bottom: 15px">
  <form nz-form nzLayout="vertical"
        [formGroup]="filterForm"
        (keydown.enter)="$event.preventDefault()">
    <!--CONTROLS-->
    <div nz-row [nzGutter]="24">
      <div nz-col [nzMd]="12" [nzXs]="24">
        <nz-form-item>
          <nz-form-label [nzFor]="'search'">Tìm kiếm</nz-form-label>
          <nz-form-control>
            <input
              nz-input
              (keyup.enter)="onSearch()"
              formControlName="search"
            />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>


    <div nz-row>
      <div nz-col [nzSpan]="24" class="search-area">
        <button nz-button (click)="onSearch(true)">Xóa tìm kiếm</button>
        <button nz-button [nzType]="'primary'" (click)="onSearch()">Tìm kiếm</button>
      </div>
    </div>
  </form>
</nz-card>

<nz-card>
  <div nz-row [nzGutter]="24">
    <div nz-col [nzMd]="12" [nzXs]="24">
      <nz-form-item>
        <nz-form-label
          [nzSpan]="24"
          [nzFor]="'result'">Trạng thái
        </nz-form-label>
        <nz-form-control [nzSpan]="24">
          <nz-select id="result" nzShowSearch nzAllowClear nzPlaceHolder="Select a person"
                     [formControl]="resultControl">
            <nz-option nzLabel="Tất cả" nzValue=""></nz-option>
            <nz-option *ngFor="let value of keys(resultSelect)"
                       [nzLabel]="resultSelect[value]"
                       [nzValue]="value"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>


  <nz-table
    #basicTable
    [nzBordered]="true"
    [nzData]="records"
    [nzPaginationPosition]="'both'"
    [nzScroll]="{ x: '1600px', y: '100vh' }"
    [nzFrontPagination]="false"
    [nzTotal]="pagination.total"
    [nzPageSize]="pagination.perPage"
    [nzPageIndex]="pagination.currentPage"
    (nzQueryParams)="onQueryParamsChange($event)"
  >
    <thead>
    <tr>
      <th
        *ngFor="let col of cols"
        [nzWidth]="col.style?.width"
      >
        {{col.header}}
      </th>
      <th [nzWidth]="'200px'" nzRight></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of basicTable.data">
      <td *ngFor="let col of cols;">
        <ng-container [ngSwitch]="col.field">
          <p *ngSwitchCase="'assign_for_user'">
            {{data[col?.field]['full_name']}} - {{data[col?.field]['login_id']}}
          </p>
          <p *ngSwitchCase="'customer_project'">
            {{data[col?.field] ? data[col?.field]['name'] : ''}}
          </p>
          <p *ngSwitchDefault>
            {{ data[col?.field] || ''}}
          </p>
        </ng-container>
      </td>
      <td style="text-align: center" nzRight>
        <button nz-button
                *ngxPermissionsOnly="ROLE_CONFIG?.get('customers')"
                nzType="primary" nzShape="circle"
                [routerLink]="['update', data.id]"
                nz-tooltip
                nzTooltipPlacement="top"
                [nzTooltipTitle]="'Sửa'"
        >
          <i nz-icon nzType="edit" nzTheme="outline"></i>
        </button>

        <button nz-button
                nzType="default" nzShape="circle"
                (click)="openModalAssign(data)"
                nz-tooltip
                nzTooltipPlacement="top"
                [nzTooltipTitle]="'Phân công cho nhân viên'"
                *ngxPermissionsOnly="ROLE_CONFIG?.get('customers')"
        >
          <i nz-icon nzType="gold" nzTheme="outline"></i>
        </button>

        <ng-container *ngIf="!data?.customer_project?.type">
          <button nz-button
                  nzType="default" nzShape="circle"
                  [routerLink]="['/care', data.id]"
                  nz-tooltip
                  nzTooltipPlacement="top"
                  [nzTooltipTitle]="'Danh sách những lần chăm sóc'"
                  *ngxPermissionsOnly="ROLE_CONFIG?.get('customers')"
          >
            <i nz-icon nzType="team" nzTheme="outline"></i>
          </button>
        </ng-container>

        <button nz-button
                nzDanger
                nzShape="circle"
                (click)="confirmDelete(data.id)"
                nz-tooltip
                nzTooltipPlacement="top"
                [nzTooltipTitle]="'Xóa'"
                *ngxPermissionsOnly="['admin']"
        >
          <i nz-icon nzType="delete"></i>
        </button>

      </td>
    </tr>
    </tbody>
  </nz-table>
</nz-card>

<ng-template #extraTemplate>
  <!--Button Create-->
  <button
    *ngxPermissionsOnly="ROLE_CONFIG?.get('customers')"
    nz-button
    nzType="primary"
    class="btn-create"
    [routerLink]="['/customers', 'create']"
  >
    <i nz-icon nzType="plus" nzTheme="outline"></i>
    Tạo mới
  </button>
</ng-template>


<nz-modal
  [(nzVisible)]="isVisibleAssign"
  nzTitle="Chỉ định nhân viên kinh doanh"
  (nzOnOk)="assignStaff()"
  (nzOnCancel)="isVisibleAssign = false"
>
  <ng-container *nzModalContent>
    <nz-select [formControl]="staffControl" nzAllowClear>
      <nz-option
        *ngFor="let item of staff"
        [nzValue]="item.id"
        [nzLabel]="item.full_name">
      </nz-option>
    </nz-select>
  </ng-container>
</nz-modal>
