<nz-table
  #basicTable
  [nzBordered]="true"
  [nzVirtualItemSize]="54"
  [nzData]="listOfData"
  [nzFrontPagination]="false"
  [nzShowPagination]="false"
  [nzScroll]="{ x: '1200px', y: '500px' }"
  nzBordered
>
  <thead>
  <tr>
    <th
      *ngFor="let col of cols"
      [nzWidth]="col.style?.width">
      {{col.header}}
    </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of basicTable.data">
    <td *ngFor="let col of cols;">
      {{ data[col?.field] }}
    </td>
  </tr>
  </tbody>
</nz-table>
