<form [formGroup]="saveForm" nz-form>
  <!--phone_number-->
  <nz-form-item>
    <nz-form-label [nzMd]="6" [nzXs]="24" nzFor="name" nzRequired>Tên</nz-form-label>
    <nz-form-control [nzMd]="12" [nzXs]="24">
      <input *ngIf="!record || (record && record.is_active)" formControlName="name" id="name" nz-input/>
      <span *ngIf="record && !record.is_active">
        {{record.name}}
        <span class="cl-red" *ngIf="!record.is_active">( Đã xóa )</span>
      </span>

      <app-control-errors
        fieldName="name"
      ></app-control-errors>
    </nz-form-control>
  </nz-form-item>
</form>

<div *nzModalFooter>
  <button (click)="closeModal(null)" nz-button nzType="default">Quay lại</button>
  <button (click)="confirmUpdate()"
          *ngIf="!record || (record && record.is_active)"
          nz-button
          nzType="primary"
          [nzLoading]="isLoading"
  >
    {{id ? 'Cập nhật' : 'Tạo mới'}}</button>
</div>
